@import url(https://fonts.googleapis.com/css?family=Mulish:300,regular,600,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Mulish";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Mulish";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
  background-color: #dadada;
}

.lock body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

/*
[class*="__container"] {
	max-width: rem($maxWidthContainer);
	margin: 0 auto;
	@media (max-width: $pc) {
		max-width: rem(970);
	}
	@media (max-width: $tablet) {
		max-width: rem(750);
	}
	@media (max-width: $mobile) {
		max-width: none;
		padding: 0 rem(math.div($containerPadding, 2));
	}
}
*/

[class*=__container] {
  max-width: 83.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=_ibg] {
  position: relative;
}

[class*=_ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[data-fullscreen] {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.icon-menu {
  display: none;
}

.page {
  min-width: 0;
}

.swiper-pagination-bullet {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  -o-transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.menu__body.open::before {
  left: 0;
}

.menu__link::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #ed165f;
  position: absolute;
  bottom: -13px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
    width: 75%;
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: #fff;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: min-height 0.2s;
    -o-transition: min-height 0.2s;
    transition: min-height 0.2s;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu__link:hover::before {
    width: calc(100% + 20px);
  }
}